html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family:"Noto Sans CJK SC","Microsoft YaHei",Arial, Tahoma,  \5fae\8f6f\96c5\9ed1, "Hiragino Sans GB", "Microsoft JhengHei", 微軟正黑體, 文泉驿微米黑,sans-serif,"Segoe UI Emoji";
}

ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}


ul.tagcloud .list-group-item <span>.badge {
    background-color: grey;
    color: white;
}

footer.page-footer {
    padding-top: 0px;
}

footer a {
    color: #fff;
}

footer .footer-copyright {
    height: auto !important ;
}

#content h1,h2,h3,h4,h5 {
    margin-top:0px;
}
#content h1{
    font-size: 300%;
}

#content h2{
    font-size: 250%;
}

#content h3{
    font-size: 200%;
}

#content h4{
    font-size: 150%;
}

#content h5{
    font-size: 120%;
}

#content .section {
    padding-top:0px;
    padding-bottom:0px;
}

#content p {
    font-size: 110%;
}

.clear-float {
    clear: both;
}

#content a {
    overflow-wrap: break-word;
}

@media only screen and (min-width : 992px) {
    nav,header, main, footer,.toolbar {
      padding-left: 300px;
    }
}


#mobile-demo a {
    padding-left: 16px;
    padding-right: 16px;
}


@media only screen and (max-width : 992px) {
  nav,header, main, footer,.toolbar {
    padding-left: 0;
  }
}

.card-content .card-action {
    position:absolute;
    bottom: 0px;
}

.search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

#mobile-demo {
    z-index: 999;
}
#sidenav-overlay {
    z-index: 900;
}
.fixed-action-btn,.nav-wrapper {
    z-index: 800;
}

ul .dropdown-content {
    min-width:200px;
    width:auto;
}

.side-nav .userView {
    padding: 32px 32px 0;
    margin-bottom: 0px;
}

nav .input-field input {
    height: 64px;
}

nav .input-field {
    height: 64px;
}

ul.simple ,ul.simple li  {
    list-style-type: disc;
}
