a,
a:visited {
    text-decoration: none;
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}
pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr,
img {
    page-break-inside: avoid;
}
img {
    max-width: 100%;
}
p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}
h2,
h3 {
    page-break-after: avoid;
}

nav,.app-bar,#fortune,#sidebar,#talk,#talk_disqus{
    display: none;
}
.noprint ,.modal{
    display: none;
}

#content,.container {
    width:100%;
}
