{% extends "base.html" %}
{% block content %}
<h3>{{ SITENAME }}的文章归档 <span class="badge new">{{ dates | count }}</span></h3>
<ul class="collection">
{% for article in dates %}
<li class="collection-item">
    <div>
        <a href="{{ SITEURL }}/{{ article.url }}" class="flow-text">{{ article.title }}</a>
        <a href="#!" class="secondary-content">{{ article.locale_date }}</a>
        <hr/>
    </div>
</li>
{% endfor %}
</ul>
{% endblock %}
