{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}
{% block metadata %}
{{ super() }}
<meta property="og:title" itemprop="name" content="{{ article.title }} - {{ SITENAME }}">
{% if article.desc %}
<meta property="og:description" itemprop="description" content="{{ article.desc }}">
{% endif %}
<meta property="og:url" itemprop="url" content="{{ SITEURL }}/{{ article.url }}">
{% if article.license %}
<meta itemprop="license" content="{{ article.license_url }}">
{% else %}
<meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/">
{% endif %}
{% endblock %}
{% block content %}
<section id="content" class="body">
	{% include 'article_title.html' %}
  <div class="entry-content text-accent" id="article-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <div class="entry-content jumbotron" id="source-content" style="display: none">
               <!-- <pre><code id="source-code">
               </code></pre> -->
  <div id="source-code"></div>
  </div>
</section>
<br />
<section class="noprint">
  {% if article.prev_article %}
      <a href="{{ SITEURL }}/{{ article.prev_article.url}}" class="waves-effect waves-light btn-large left">
          上一篇文章:
          {{ article.prev_article.title }}
      </a>
  {% endif %}
  {% if article.next_article %}
      <a href="{{ SITEURL }}/{{ article.next_article.url}}" class="waves-effect waves-light btn-large right">
          下一篇文章:
          {{ article.next_article.title }}
      </a>
  {% endif %}
  <div class="padding10 clear-float"></div>
  <hr />
{% if article.series %}
<ul class="collection with-header">
  <li class="collection-header {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}} white-text">
      <h5>系列"{{ article.series.name }}"中的文章</h5>
  </li>
  {% for part_article in article.series.all %}
  <li class="collection-item">
      <a href='{{ SITEURL }}/{{ part_article.url }}'>
          {{ part_article.title }}
          {% if part_article == article %}
          <i class="material-icons right {{MAIN_COLOR}}-text {{MAIN_COLOR_DECORATOR}}">grade</i>
          {% endif %}
      </a>
  </li>
  {% endfor %}
</ul>
</section>
{% endif %}
{% set talk_item = article %}
{% include 'comment.html' with context  %}


{% endblock %}
