<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="search" type="application/html" href="/search.html" title="{{ SITENAME }}" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#bf5a15">
    {% block metadata %}
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:type" content="website">
    <meta property="og:image" itemprop="image" content="{{ SITEURL }}{{ AUTHOR_IMG }}">
    {% endblock %}
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/materialize.min.css"  media="screen,projection"/>
    <link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" media="print" href="{{ SITEURL }}/theme/css/print.css" />
    {% endblock head %}

</head>
<body id="index">
    <div class="navbar-fixed">
        <nav class="noprint">
            <a href="#">
            <div class="nav-wrapper {{ MAIN_COLOR }} {{ MAIN_COLOR_DECORATOR }}">
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    Menu
                </a>
                <a href="{{ SITEURL }}" class="brand-logo center"><small>&nbsp;&nbsp;{{ SITENAME }}</small></a>
            </div>
            </a>
            <ul class="side-nav show-on-large fixed" id="mobile-demo">
                <li>
                    <div class="userView" id="userView">
                        <div class="background {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}}"></div>
                        <a href="#userinfo"><img class="circle" src="{{ SITEURL }}{{AUTHOR_IMG}}"></a>
                        <a href=""><span class="white-text name">{{AUTHOR}}</span></a>
                        <a href=""><span class="white-text email">{{AUTHOR_DESC[0]}}</span></a>
                    </div>
                </li>
                <li class="no-padding no-margin">
                    <a href="/">首页</a>
                </li>
              <li><a href="{{ SITEURL }}/archives.html">文章归档</a></li>
              <li><div class="divider"></div></li>
              {% block navbar %}
              {% endblock %}
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">RSS 订阅</a></li>
              <li><a href="{{ SITEURL }}/links.html">
                  <ruby>
                      友人&nbsp;😄 <rp>(</rp><rt>食物😋</rt><rp>)</rp>
                  </ruby>
              </a></li>
            </ul>
        </nav>
    </div>
<main>
    <div class="container">
        <div class="padding5 noprint site-description" style="clear:both;"></div>
        <div class="row">
            <!-- content -->
            <div class="col s12 m12 l12">
                {% block content %}
                {% endblock %}
            </div>
            </div>
    </div>
            {% block button %}
            {% endblock button %}
</main>
    <footer class="page-footer {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}}">
         <div class="footer-copyright">
           <div class="container">
               {{SITENAME}}基于<a href="http://materializecss.com/"> Materialize </a>和使用<del>人生苦短</del>的<a href="http://python.org"> Python </a>制成的<a href="http://getpelican.com/"> Pelican </a>构建.<br />
               可能遗留有部分明网资源，需要的话请自行屏蔽明网流量 😂 <br />
               {% if LICENSE %}
               <img alt="知识共享许可协议" style="border-width:1" src="{{ SITEURL }}{{LICENSE_IMG}}" />
               如果没特殊声明的话，咱以<a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/deed.zh">知识共享 署名-相同方式共享 4.0协议</a>协议授权这里的文字内容，
               其它内容可能会用不同的协议授权呗~
               {% endif %}
           </div>
         </div>
       </footer>
    <script src="{{ SITEURL }}/theme/js/jquery-2.1.3.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/materialize.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/init.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>

