{% extends "index.html" %}
{% block content_title %}
<h2>分类"{{ category }}"中的文章</h2>
{% endblock %}

{% block rss %}
<li><a href="{{ SITEURL }}/feeds/{{category.name.lower()}}.atom.xml"><span class="mif-feed3"></span>&nbsp;RSS订阅这个分类&nbsp;</a></li>
{% endblock %}
