<div id="isso" class="col s12">
    <p class="flow-text">
        需要 JavaScript 支持来使用 Isso 😂
    </p> 
    <script data-isso="http://vwa5tknnfphzef2n.onion/"
        src="http://vwa5tknnfphzef2n.onion/js/embed.min.js"></script>

    <section id="isso-thread"
         data-title="{{ talk_item.title }}"
         data-isso-id="{{ talk_item.slug }}"></section>
</div>