<!--
<div class="panel noprint" id="talk" data-role="panel">
    <ul class="collection with-header" id="githubissue_comments">
        <li class="collection-header {{MAIN_COLOR}} {{MAIN_COLOR_DECORATOR}} white-text">
            <h4>Github Issues 留言</h4>
            <p class="padding0">用汝的 Github 账户到和这个页面关联的 Issue 页面里就可以评论啦，评论的内容会出现在这里呗~ </p>
            <a class="waves-effect waves-light btn" href="https://github.com/{{ GITHUB_REPO }}/issues/{{talk_item.issueid}}#new_comment_field" target="_blank">  (っ╹ ◡ ╹ )っ 对就是戳这里啦~ 😋</a>
        </li>
     </ul>
</div>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    var reaction_fa = {
      "+1": "👍",
      "-1": "👎",
      "laugh": "😄",
      "hooray": "🎉",
      "confused": "😐",
      "heart": "❤️"
    };

  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var cuser = data[i].user.login;
      var cuserlink = "https://github.com/" + data[i].user.login;
      var clink = "https://github.com/{{ GITHUB_REPO }}/issues/{{talk_item.issueid}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
      var cbody = data[i].body_html || data[i].body
      var cavatarlink = data[i].user.avatar_url;
      var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'2-digit', minute:'2-digit', second:'2-digit' };
      var reactions = data[i].reactions;
    var creactions = "";
    if(reactions){
      for(reactionkey in reaction_fa){
        if(reactions[reactionkey] > 0) {
            creactions += '<div class="chip">'+reaction_fa[reactionkey]+'&nbsp' + reactions[reactionkey] + "</div>&nbsp;";
        }
      }
    }
      var cdate = new Date(data[i].created_at).toLocaleString("{{ DEFAULT_LANG }}", options);
      $("#githubissue_comments").append('<li class="collection-item avatar flow-text"><a href="'+cuserlink+'"><img src="'+cavatarlink+'" alt="'+cuser+'" class="circle"><h5>'+cuser+'</h5></a><a href="'+clink+'"class="hide-on-med-and-up"><h6>'+cdate+'</h6></a>'+cbody+'<br /><p>'+creactions+'</p><h6><a href="'+clink+'" class="secondary-content hide-on-small-only">'+cdate+'</a></h6></li>');
    }
  }
  $.ajax("https://api.github.com/repos/{{ GITHUB_REPO }}/issues/{{talk_item.issueid}}/comments", {
    headers: {Accept: "application/vnd.github.squirrel-girl-preview.full+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
  }
  });
});
</script>
-->
