{% extends "base.html" %}
{% block content %}
<section id="content" style="clear:both;">
{% block content_title %}
{% endblock %}
{% block metadata %}
{{ super() }}
<meta property="og:title" itemprop="name" content="{{ SITENAME }}">
<meta property="og:description" itemprop="description" content="{{ METADATA_DESC }}">
<meta property="og:url" itemprop="url" content="{{ SITEURL }}">
<meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/">
{% endblock %}
{% for article in articles_page.object_list %} 
    {% include 'article_title.html' %} 
{% endfor %}<!-- /#posts-list --> 
{% if articles_page.has_other_pages() %}
     {% include 'pagination.html' %} 
{% endif %}
</section><!-- /#content -->
{% endblock content %}
