{% if articles_page and articles_paginator.num_pages > 1 %}
    <ul class="pagination noprint">
      {% if articles_page.has_previous() %}
        {% set num = articles_page.previous_page_number() %}
        <li class="item chevron-left large-button">
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
      {% endif %}
      {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
        {% if num == articles_page.number %}
            <li class="active"><a href="#!">{{ num }}</a></li>
        {% else %}
            <li>
                <a href="{{ SITEURL }}/{{articles_page.name}}{{ num if num != 1 else '' }}.html"
                    class="item large-button">
                    {{ num }}
                </a>
            </li>
        {% endif %}
      {% endfor %}
      {% if articles_page.has_next() %}
        <li>
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="item large-button">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
      {% endif %}
  </ul>
{% endif %}
